interactions:
- request:
    body: null
    headers:
      x-apikey:
      - 9ca96ce7883223d752513c00f98bb328827cb4aa048fe77c16bacd9908acd2ca
    method: GET
    uri: https://www.virustotal.com/api/v3/ip_addresses/8.8.8.8
  response:
    body:
      string: "{\n    \"data\": {\n        \"attributes\": {\n            \"jarm\":
        \"29d3fd00029d29d00042d43d00041d598ac0c1012db967bb1ad0ff2491b3ae\",\n            \"network\":
        \"8.8.8.0/24\",\n            \"last_https_certificate_date\": 1693014910,\n
        \           \"tags\": [],\n            \"whois\": \"Level 3 Parent, LLC LVLT-ORG-8-8
        (NET-8-0-0-0-1) 8.0.0.0 - 8.127.255.255\\nGoogle LLC LVLT-GOGL-8-8-8 (NET-8-8-8-0-1)
        8.8.8.0 - 8.8.8.255\\n\",\n            \"last_analysis_date\": 1693014602,\n
        \           \"as_owner\": \"GOOGLE\",\n            \"last_analysis_stats\":
        {\n                \"harmless\": 66,\n                \"malicious\": 2,\n
        \               \"suspicious\": 0,\n                \"undetected\": 20,\n
        \               \"timeout\": 0\n            },\n            \"asn\": 15169,\n
        \           \"whois_date\": 1692057919,\n            \"reputation\": 525,\n
        \           \"last_analysis_results\": {\n                \"Bkav\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Bkav\"\n                },\n
        \               \"CMC Threat Intelligence\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"CMC Threat Intelligence\"\n
        \               },\n                \"Snort IP sample list\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Snort IP sample list\"\n
        \               },\n                \"0xSI_f33d\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"0xSI_f33d\"\n                },\n
        \               \"ViriBack\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ViriBack\"\n                },\n
        \               \"PhishLabs\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"PhishLabs\"\n                },\n
        \               \"K7AntiVirus\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"K7AntiVirus\"\n                },\n
        \               \"CINS Army\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"CINS Army\"\n                },\n
        \               \"Quttera\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Quttera\"\n                },\n
        \               \"PrecisionSec\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"PrecisionSec\"\n                },\n
        \               \"OpenPhish\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"OpenPhish\"\n                },\n
        \               \"VX Vault\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"VX Vault\"\n                },\n
        \               \"ArcSight Threat Intelligence\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ArcSight Threat Intelligence\"\n
        \               },\n                \"Scantitan\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Scantitan\"\n                },\n
        \               \"AlienVault\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"AlienVault\"\n                },\n
        \               \"Sophos\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Sophos\"\n                },\n
        \               \"Phishtank\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Phishtank\"\n                },\n
        \               \"Cyan\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Cyan\"\n                },\n
        \               \"Spam404\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Spam404\"\n                },\n
        \               \"SecureBrain\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"SecureBrain\"\n                },\n
        \               \"CRDF\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"CRDF\"\n                },\n
        \               \"Fortinet\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Fortinet\"\n                },\n
        \               \"alphaMountain.ai\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"alphaMountain.ai\"\n
        \               },\n                \"Lionic\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Lionic\"\n                },\n
        \               \"Cyble\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Cyble\"\n                },\n
        \               \"Seclookup\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Seclookup\"\n                },\n
        \               \"Xcitium Verdict Cloud\": {\n                    \"category\":
        \"malicious\",\n                    \"result\": \"malware\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Xcitium Verdict Cloud\"\n
        \               },\n                \"Google Safebrowsing\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Google Safebrowsing\"\n
        \               },\n                \"SafeToOpen\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"SafeToOpen\"\n                },\n
        \               \"ADMINUSLabs\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ADMINUSLabs\"\n                },\n
        \               \"ESTsecurity\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ESTsecurity\"\n                },\n
        \               \"Juniper Networks\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Juniper Networks\"\n
        \               },\n                \"Heimdal Security\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Heimdal Security\"\n
        \               },\n                \"AutoShun\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"AutoShun\"\n                },\n
        \               \"Trustwave\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Trustwave\"\n                },\n
        \               \"AICC (MONITORAPP)\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"AICC (MONITORAPP)\"\n
        \               },\n                \"CyRadar\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"CyRadar\"\n                },\n
        \               \"Dr.Web\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Dr.Web\"\n                },\n
        \               \"Emsisoft\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Emsisoft\"\n                },\n
        \               \"Abusix\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Abusix\"\n                },\n
        \               \"Webroot\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Webroot\"\n                },\n
        \               \"Avira\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Avira\"\n                },\n
        \               \"securolytics\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"securolytics\"\n                },\n
        \               \"Antiy-AVL\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Antiy-AVL\"\n                },\n
        \               \"AlphaSOC\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"AlphaSOC\"\n                },\n
        \               \"Acronis\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Acronis\"\n                },\n
        \               \"Quick Heal\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Quick Heal\"\n                },\n
        \               \"URLQuery\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"URLQuery\"\n                },\n
        \               \"Viettel Threat Intelligence\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Viettel Threat Intelligence\"\n
        \               },\n                \"DNS8\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"DNS8\"\n                },\n
        \               \"benkow.cc\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"benkow.cc\"\n                },\n
        \               \"EmergingThreats\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"EmergingThreats\"\n
        \               },\n                \"Chong Lua Dao\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Chong Lua Dao\"\n                },\n
        \               \"Yandex Safebrowsing\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Yandex Safebrowsing\"\n
        \               },\n                \"Lumu\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Lumu\"\n                },\n
        \               \"zvelo\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"zvelo\"\n                },\n
        \               \"Kaspersky\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Kaspersky\"\n                },\n
        \               \"Segasec\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Segasec\"\n                },\n
        \               \"Sucuri SiteCheck\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Sucuri SiteCheck\"\n
        \               },\n                \"desenmascara.me\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"desenmascara.me\"\n
        \               },\n                \"CrowdSec\": {\n                    \"category\":
        \"malicious\",\n                    \"result\": \"malicious\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"CrowdSec\"\n                },\n
        \               \"Cluster25\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Cluster25\"\n                },\n
        \               \"SOCRadar\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"SOCRadar\"\n                },\n
        \               \"URLhaus\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"URLhaus\"\n                },\n
        \               \"PREBYTES\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"PREBYTES\"\n                },\n
        \               \"StopForumSpam\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"StopForumSpam\"\n                },\n
        \               \"Blueliv\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Blueliv\"\n                },\n
        \               \"Netcraft\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Netcraft\"\n                },\n
        \               \"ZeroCERT\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ZeroCERT\"\n                },\n
        \               \"Phishing Database\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Phishing Database\"\n
        \               },\n                \"MalwarePatrol\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"MalwarePatrol\"\n                },\n
        \               \"IPsum\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"IPsum\"\n                },\n
        \               \"Malwared\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Malwared\"\n                },\n
        \               \"BitDefender\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"BitDefender\"\n                },\n
        \               \"GreenSnow\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"GreenSnow\"\n                },\n
        \               \"G-Data\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"G-Data\"\n                },\n
        \               \"VIPRE\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"VIPRE\"\n                },\n
        \               \"SCUMWARE.org\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"SCUMWARE.org\"\n                },\n
        \               \"PhishFort\": {\n                    \"category\": \"undetected\",\n
        \                   \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"PhishFort\"\n                },\n
        \               \"malwares.com URL checker\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"malwares.com URL checker\"\n
        \               },\n                \"Forcepoint ThreatSeeker\": {\n                    \"category\":
        \"undetected\",\n                    \"result\": \"unrated\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Forcepoint ThreatSeeker\"\n
        \               },\n                \"Criminal IP\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Criminal IP\"\n                },\n
        \               \"Certego\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Certego\"\n                },\n
        \               \"ESET\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ESET\"\n                },\n
        \               \"Threatsourcing\": {\n                    \"category\": \"harmless\",\n
        \                   \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Threatsourcing\"\n
        \               },\n                \"ThreatHive\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"ThreatHive\"\n                },\n
        \               \"Bfore.Ai PreCrime\": {\n                    \"category\":
        \"harmless\",\n                    \"result\": \"clean\",\n                    \"method\":
        \"blacklist\",\n                    \"engine_name\": \"Bfore.Ai PreCrime\"\n
        \               }\n            },\n            \"country\": \"US\",\n            \"last_modification_date\":
        1693063264,\n            \"regional_internet_registry\": \"ARIN\",\n            \"last_https_certificate\":
        {\n                \"size\": 1512,\n                \"public_key\": {\n                    \"rsa\":
        {\n                        \"key_size\": 2048,\n                        \"modulus\":
        \"d7ec8ac0ce25878e1f1266ab3ffed39cea8186dd7afe641b280b5221ce6d95433c238fa9798e7f828a6c5beadedc6f9d9d026317357e6e15ade028d8009700e78b6175e34a911224db13ebb0e81bc80674964d42b071f319e46047cc6911ad6a539067d26c3bc15e0dadb9c37163b7b1b4649b7aa09d8a8e1073fea75e11e8a0267b86bde93b13f0e74b027a8a93003326d5927df445a603c11d140858c0c9d042edc1b413ab4926806c60dab8a9e56c953dec29759ada4dcb02d67d2cb49ca201c758dc0d8bb6d1a21b4d280ebff2617c1600392fd95b203571331b4bdcb42723ab88fa658e523172b0909f0c227547c9674af2436a6d4f7d72bdeca7c7ec31\",\n
        \                       \"exponent\": \"10001\"\n                    },\n
        \                   \"algorithm\": \"RSA\"\n                },\n                \"thumbprint_sha256\":
        \"5b20969d6e21ae7fdd2c69f91a54f468f5e3d6a409c7cfe678777faf1fc990e3\",\n                \"cert_signature\":
        {\n                    \"signature\": \"e7edb93aeb399c431275a779419e921564001a009d2cab401f4261d19466bca404cf6807d5cedebe098fb8fbfdd2bf0c0275625e6e593df9107fcc352c28cc600ffb9b64ccaa5f51a7d9160a76515a8ecd1ad74b3c1b7206c7fc80e5994f24b5eef73d79f16109084e444261bdce0d2ae65dd74688a62c3ca9c763a7356d4460a2a89e0860279ca3d95f31fa73cff7a3b5832070e048c9e13e5f863f7a313508fa253d52971390dd29d7ac0da7696ad38e7a875815c858102cadebb08df16f261d78c1f6696d91f6c949e1e98f1f886d10b8def9294d76cdec105a82400e201f72e1dcf6181137b32fa5d98dea165792b65138f424023480801431d3ce6ea64a\",\n
        \                   \"signature_algorithm\": \"sha256RSA\"\n                },\n
        \               \"validity\": {\n                    \"not_after\": \"2023-10-30
        12:22:47\",\n                    \"not_before\": \"2023-08-07 12:22:48\"\n
        \               },\n                \"version\": \"V3\",\n                \"extensions\":
        {\n                    \"certificate_policies\": [\n                        \"2.23.140.1.2.1\",\n
        \                       \"1.3.6.1.4.1.11129.2.5.3\"\n                    ],\n
        \                   \"extended_key_usage\": [\n                        \"serverAuth\"\n
        \                   ],\n                    \"authority_key_identifier\":
        {\n                        \"keyid\": \"8a747faf85cdee95cd3d9cd0e24614f371351d27\"\n
        \                   },\n                    \"subject_alternative_name\":
        [\n                        \"dns.google\",\n                        \"dns.google.com\",\n
        \                       \"*.dns.google.com\",\n                        \"8888.google\",\n
        \                       \"dns64.dns.google\",\n                        \"8.8.8.8\",\n
        \                       \"8.8.4.4\",\n                        \"2001:4860:4860::8888\",\n
        \                       \"2001:4860:4860::8844\",\n                        \"2001:4860:4860::6464\",\n
        \                       \"2001:4860:4860::64\"\n                    ],\n                    \"subject_key_identifier\":
        \"0999687543545b4257825fe3d6159768ce4f1edf\",\n                    \"crl_distribution_points\":
        [\n                        \"http://crls.pki.goog/gts1c3/QqFxbi9M48c.crl\"\n
        \                   ],\n                    \"key_usage\": [\n                        \"digitalSignature\",\n
        \                       \"keyEncipherment\"\n                    ],\n                    \"1.3.6.1.4.1.11129.2.4.2\":
        \"0481f300f1007600e83ed0da3ef5063532e75728bc896bc903d3cbd1116beceb\",\n                    \"CA\":
        false,\n                    \"ca_information_access\": {\n                        \"CA
        Issuers\": \"http://pki.goog/repo/certs/gts1c3.der\",\n                        \"OCSP\":
        \"http://ocsp.pki.goog/gts1c3\"\n                    }\n                },\n
        \               \"thumbprint\": \"34d2df523f41d683805755c95ca85d84e65c0c5c\",\n
        \               \"serial_number\": \"f3359fb11b4b9b92105b2f89472e612b\",\n
        \               \"issuer\": {\n                    \"C\": \"US\",\n                    \"CN\":
        \"GTS CA 1C3\",\n                    \"O\": \"Google Trust Services LLC\"\n
        \               },\n                \"subject\": {\n                    \"CN\":
[...]
